<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAUGpFsGdvy4f2HYJAFqaHu84lppt87Klg</string>
	<key>GCM_SENDER_ID</key>
	<string>761115126999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diamanteblockchain.diamanteblockchain</string>
	<key>PROJECT_ID</key>
	<string>diamante-363d8</string>
	<key>STORAGE_BUCKET</key>
	<string>diamante-363d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761115126999:ios:a9b5619c851d6ff7915492</string>
</dict>
</plist>